<h1>Demo#index</h1>

<p>Find me in app/views/demo/index.html.erb</p>

<p>hellllooo world!</p>

<h5>Some links 4 u</h5>
<ul>
	<li>
		<a href="./demo/hello.html">hello.html</a>
	</li>
	<li><%= link_to('dynamic ruby w link_to', { :action => 'dynamic-ruby' } )%> 
	</li>
	<li>
		<%= link_to('lost-in-time w parameters', { :action => 'lost_in_time' , :id => 2,  :page=>29 })%> 
	</li>
</ul>