<h1>Lost in time, another name.</h1>
<ul>
	<li>2:00am</li>
	<li>Bogota</li>
	<li>Quiero estar</li>
</ul>

<p>
  go back <br>
  --------<br>
  <a href="/demo/index"> go home 1</a><br>
  <%= link_to( "go home 2"  ,  {:action => "index"}) %>
</p>

<p>
	Show me params<br>
    ID : <%=@id_num%><br>
    PAGE : <%=@page_num%>

</p>